<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10</title>
</head>

<body>
    <main>
        <h1>Top 10 Characters with the Most Interactions with Other Characters</h1>

        <div action="get" id="book-select-div">
            <label for="book-id">Buku: </label>
            <select name="book-select" id="book-id">
                <option value="1">PlaceholderBuku1</option>
                <option value="2">PlaceHolderBuku2</option>
            </select>
            <button type="button" id="chart-button">Tampilkan</button>
        </div>

        <div id="chart-container">
        </div>
    </main>
</body>

</html>